* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  background-color: gray;
  /* width: 33%; */
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
